html {
  display: flex;
  height: 100vh;
}

body {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0;
  overflow: hidden;
}

#root {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1ch;
  margin: 1ch;
}

h1 {
  margin: 0 auto;
}

textarea {
  flex: 1;
  font-size: 200%;
  outline: none;
  resize: none;
  width: 60ch;
}